APP_TITLE=ARANet
APP_CLIENT=ARANOVA
APP_DESCRIPTION=
APP_LOGO_DARK=
APP_LOGO_LIGHT=
COMPANY_LOGO=/images/aranova_logo.gif
COMPANY_SITE=https://www.aranova.es
COMPANY_FULLNAME=ARANOVA, S.L.L.
COMPANY_CIF:
VERSION=2.0.0
TEMP_PATH=/tmp
APP_ICON=aranova.ico
HOME_URL=http://localhost:3000
MARGIN_MODEL=sales
SMTP_MAIL_HOST=mail.aranova.es
SMTP_MAIL_USER=info@aranova.es
SMTP_MAIL_PASSWORD=xxxxx
MAIL_FROM=ARANOVA
MAIL_SENDER=ARANOVA
INVOICE_NUMBER_FORMAT=%04s
INVOICE_FIRST_NUMBER=1
FIRST_YEAR=2007
APP_BASE_URL=http://localhost:3000
DATABASE_URL="prisma+postgres://localhost:51213"

# Test
VERIFACTU_URL_PRODUCTION=https://www1.agenciatributaria.gob.es/wlpl/TIKE-CONT/ws/SistemaFacturacion/VerifactuSOAP
VERIFACTU_URL_PRODUCTION_SEAL=https://www10.agenciatributaria.gob.es/wlpl/TIKE-CONT/ws/SistemaFacturacion/VerifactuSOAP
VERIFACTU_URL_TEST=https://prewww1.aeat.es/wlpl/TIKE-CONT/ws/SistemaFacturacion/VerifactuSOAP
VERIFACTU_URL_TEST_SEAL=https://prewww10.aeat.es/wlpl/TIKE-CONT/ws/SistemaFacturacion/VerifactuSOAP
VERIFACTU_QR_VERIFICATION_URL_PRODUCTION=https://www2.agenciatributaria.gob.es/wlpl/TIKE-CONT/ValidarQR
VERIFACTU_QR_VERIFICATION_URL_TEST=https://prewww2.aeat.es/wlpl/TIKE-CONT/ValidarQR
CERT_PATH=./cert.p12
CERT_PASSPHRASE=no-sirve
CERT_TYPE=certificate
DEV_COMPANY_NAME=
DEV_COMPANY_CIF=
DEV_APP_NAME=
DEV_APP_ID=
DEV_APP_VERSION=
DEV_APP_LOCALID=