		<div class="tabbable">
		  <ul class="nav nav-tabs">
		  	<li class="active"><a href="#info" data-toggle="tab">Info</a></li>		    
		  	<li><a href="#contacts" data-toggle="tab">Contactos</a></li>
		  	<li><a href="#addresses" data-toggle="tab">Direcciones</a></li>
		  	<li><a href="#messajes" data-toggle="tab">Mensajes</a></li>
		  </ul>

		  <div class="tab-content">
		    <div class="tab-pane active scrollable" id="info">
		      <dl class="dl-horizontal">	
		      	<dt>C.F.I.:</dt>
		      	<dd>{% if vendor.vendorCif %}{{ vendor.vendorCif }}{% else %}&nbsp;{% endif %}</dd>
		      	<dt>Proveedor desde:</dt>
		      	<dd>{% if vendor.vendorSince %}{{ vendor.vendorSince }}{% else %}&nbsp;{% endif %}</dd>
		      	<dt>Tipo de empresa:</dt>
		      	<dd>{% if vendor.vendorKindOfCompany %}{{ vendor.vendorKindOfCompany.kindOfCompanyTitle }}{% else %}&nbsp;{% endif %}</dd>
		      	<dt>Comantarios:</dt>
		      	<dd>{% if vendor.vendorComments %}{{ vendor.vendorComments }}{% else %}&nbsp;{% endif %}</dd>
		      	<dt>Etiquetas:</dt>
		      	<dd>&nbsp;</dd>
		      </dl>
		    </div>
		    <div class="tab-pane scrollable" id="contacts">
		      {% include 'ARANOVAARANetBundle:Vendor:_contact_minilist.html.twig' %}
		    </div>
		    <div class="tab-pane scrollable" id="addresses">
		      {% include 'ARANOVAARANetBundle:Vendor:_address_minilist.html.twig' %}
		    </div>
		    <div class="tab-pane scrollable" id="messajes">
		      {% include 'ARANOVAARANetBundle:Project:_minilist.html.twig' %}
		    </div>
		  </div>
		</div>
