@import "tailwindcss";
@layer theme, base, components, utilities;

@theme {
  --font-sans: Inter, sans-serif;
  --breakpoint-xs: 300px;
  --breakpoint-3xl: 1920px;
}

@layer base {
  [data-theme="light"] {
    background-color: var(--color-background-light);
    color: var(--color-text-light);
  }

  [data-theme="dark"] {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

[data-obligatorio]::after {
  content: " (*)";
  color: var(--color-red-500);
}
