'<tr id="contactRow"' + contact.id +'">' +
'  <td class="centered"><input type="checkbox"></td>' +
'  <td class="centered"><a href="' + route + '"><i class="icon-eye-open"></i></a> <a href="#"><i class="icon-edit"></i></a>'+ 
'    <a data-toggle="modal" data-contact-id="' + contact.id + '" data-contact-name="'+ contact.firstName +'" href="#" class="delete" title="¿Eliminar '+ contact.firstName +'?"><i class="icon-remove"></i></a>'+
'  </td>' +
'  <td><a href="' + route + '">' + contact.firstName + ' ' + contact.lastName + '</a></td>' +
'  <td>' + contact.email + '</td>' +
'  <td class="no-whitespace">Tel. ' + contact.phone + fax + '</td>' +
'  <td class="no-whitespace">' + contact.mobile + '</td>' +
'  <td>' + address + '</td>' +
'</tr>'